 <header class="bg-primary m-b-4">
     <nav class="menu container">
         <a class="menu__brand" href="#"><figure class="logo"><img class="img-fill" src="~/../assets/images/svg/teamicon.svg" /></figure> Customer Manager</a>
         <button class="menu__toggle"><i class="fa fa-bars"></i></button>
        <ul class="menu__bar">
            <li class="menu__item"><a href="#" class="menu__link" routerLinkActive="menu__link--active">Customers</a></li>
            <li class="menu__item"><a href="#" class="menu__link" routerLinkActive="menu__link--active">Orders</a></li>
            <li class="menu__item"><a href="#" class="menu__link" routerLinkActive="menu__link--active">About</a></li>
            <li class="menu__item"><a href="#" class="menu__link" routerLinkActive="menu__link--active">Login</a></li>
        </ul>
     </nav>
 </header>

