 <header class="bg-primary">
     <nav class="menu container">
         <a class="menu__brand" href="#"><i class="fa fa-users"></i>Customer Manager</a>
         <button class="menu__toggle"><i class="fa fa-bars"></i></button>
        <ul class="menu__bar">
            <li class="menu__item"><a href="" class="menu__link">Customers</a></li>
            <li class="menu__item"><a href="" class="menu__link">Orders</a></li>
            <li class="menu__item"><a href="" class="menu__link">About</a></li>
            <li class="menu__item"><a href="" class="menu__link">Login</a></li>
        </ul>
     </nav>
 </header>
