<<<<<<< HEAD
.footer{
    background: #f5f5f5;
    padding: 20px;
    bottom: 0;
    width: 100%;
    margin-top:2%;
    border: 1px solid #e3e3e3;

    &__copyright{
        font-size: 0.9em;
        color: #232222;
    }
}   
=======
.flex-class {
    display: flex;
    justify-content: space-between;
  }
  
  .customer__miniature {
    display: flex;
  }
  
  .listing {
    display: inline;
    margin-right: 75px;
  }
  
  .grey-text {
    color: grey;
    font-weight: normal;
  }
  .h2-text{
      font-size:1.8rem;
  }
  
  .p-text {
    font-size: 1.1rem;
    color: #000000b3;
  }
  
  .filter-text {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-search {
    padding: 5px;
  }
  .profile-picture{
      width:35px;
      height:35px;
      overflow: hidden;
      border-radius:50%;
  }
  
>>>>>>> 5883852430b64278a6e8b3d013aaf3f0547dbdc7
