<header class="container header-customer">
  <section class="customer__miniature col__12 m-y-6">
    <figure class="m-r-2">
      <img src="../../../assets/images/customer/fa-user.png" alt="customer" class="profile-picture">
    </figure>
    <h2 class="h2-text m-t-3 mn-r-2">{{miniatureText}}</h2>
  </section>
  <nav class="menu-bar flex-class">
    <ul class="m-t-6">
        <li class="listing menu-item">
            <a href="javascript:;" class="p-text menu-link"><span class="m-r-2"><i class="fa fa-th" aria-hidden="true"></i></span>Card View</a>
        </li>
        <li class="listing menu-item">
            <a href="javascript:;" class="p-text menu-link"><span class="m-r-2"><i class="fa fa-list" aria-hidden="true"></i></span>{{listView}}</a></li>
        <li class="listing menu-item">
          <a href="javascript:;" class="p-text menu-link"><span class="m-r-2"><i class="fa fa-table" aria-hidden="true"></i></span>{{tableView}}</a>
        </li>
        <li class="listing menu-item">
            <a href="javascript:;" class="p-text menu-link"><span class="m-r-2"><i class="fa fa-plus" aria-hidden="true"></i></span>{{newCustomer}}</a>
        </li>
    </ul>
    <div class="filter">
      <form>
        <label for="filter" class="p-text filter-text">{{filter}}</label>
        <input type="search" name="search" class="input-search">
      </form>
    </div>
  </nav>
</header>
