<!-- customer detail in Table format start -->
<article class="customer p-t-6 m-t-6">
	<section class="customer__details">
		<div class="order-list-button">
			<a class="order-status-active"><span>All Orders</span></a>
			<a class="order-status"><span>Paid</span></a>			
			<a class="order-status"><span>Unpaid</span></a>						
			<a class="order-status"><span>Fullfilled</span></a>
			<a class="order-status"><span>Unfullfilled</span></a>
		</div>	
		<table class="table">
		   <thead>
				<tr>
				  <th>Order</th>
				  <th>Date</th>
				  <th>Customer</th>
				  <th>Payment Status</th>
				  <th>Fullfillment Status</th>
				  <th>Total</th>
				</tr>
		    </thead>
			<tbody>
				<tr>
				  <td>{{'5001' | titlecase}}</td>
				  <td>{{'05-10-2019' | titlecase}}</td>
				  <td>{{'Sangeeta' | titlecase}}</td>
				  <td><span class="label-paid">{{'paid' | titlecase}}</span></td>
				  <td><span class="label-unfullfilled">{{'unfullfilled' | titlecase}}</span></td>
				  <td>{{'0.00' | currency: 'INR'}}</td>
				</tr>
				<tr>
				  <td>{{'5001' | titlecase}}</td>
				  <td>{{'05-10-2019' | titlecase}}</td>
				  <td>{{'Sangeeta' | titlecase}}</td>
				  <td><span class="label-paid">{{'paid' | titlecase}}</span></td>
				  <td><span class="label-fullfilled">{{'fullfilled' | titlecase}}</span></td>
				  <td>{{'0.00' | currency: 'INR'}}</td>
				</tr>
				<tr>
				  <td>{{'5001' | titlecase}}</td>
				  <td>{{'05-10-2019' | titlecase}}</td>
				  <td>{{'Sangeeta' | titlecase}}</td>
				  <td><span class="label-pending">{{'pending' | titlecase}}</span></td>
				  <td><span class="label-unfullfilled">{{'unfullfilled' | titlecase}}</span></td>
				  <td>{{'0.00' | currency: 'INR'}}</td>
				</tr>
				<tr>
				  <td>{{'5001' | titlecase}}</td>
				  <td>{{'05-10-2019' | titlecase}}</td>
				  <td>{{'Sangeeta' | titlecase}}</td>
				  <td><span class="label-unpaid">{{'unpaid' | titlecase}}</span></td>
				  <td><span class="label-unfullfilled">{{'unfullfilled' | titlecase}}</span></td>
				  <td>{{'0.00' | currency: 'INR'}}</td>
				</tr>
				<tr>
				  <td>{{'5001' | titlecase}}</td>
				  <td>{{'05-10-2019' | titlecase}}</td>
				  <td>{{'Sangeeta' | titlecase}}</td>
				  <td><span class="label-pending">{{'pending' | titlecase}}</span></td>
				  <td><span class="label-unfullfilled">{{'unfullfilled' | titlecase}}</span></td>
				  <td>{{'0.00' | currency: 'INR'}}</td>
				</tr>
				<tr>
				  <td>{{'5001' | titlecase}}</td>
				  <td>{{'05-10-2019' | titlecase}}</td>
				  <td>{{'Sangeeta' | titlecase}}</td>
				  <td><span class="label-paid">{{'paid' | titlecase}}</span></td>
				  <td><span class="label-fullfilled">{{'fullfilled' | titlecase}}</span></td>
				  <td>{{'0.00' | currency: 'INR'}}</td>
				</tr>
				<tr>
				  <td>{{'5001' | titlecase}}</td>
				  <td>{{'05-10-2019' | titlecase}}</td>
				  <td>{{'Sangeeta' | titlecase}}</td>
				  <td><span class="label-paid">{{'paid' | titlecase}}</span></td>
				  <td><span class="label-fullfilled">{{'fullfilled' | titlecase}}</span></td>
				  <td>{{'0.00' | currency: 'INR'}}</td>
				</tr>
				<tr>
				  <td>{{'5001' | titlecase}}</td>
				  <td>{{'05-10-2019' | titlecase}}</td>
				  <td>{{'Sangeeta' | titlecase}}</td>
				  <td><span class="label-paid">{{'paid' | titlecase}}</span></td>
				  <td><span class="label-unfullfilled">{{'unfullfilled' | titlecase}}</span></td>
				  <td>{{'0.00' | currency: 'INR'}}</td>
				</tr>
			</tbody>
		</table>	  
	</section>          
</article> 

<!-- customer detail in Table format end -->