.customer {
	width: 25%;
	height: 210px;
	margin: 2px;
	border-radius: 2px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 8px;
	transition: 0.3s;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
	&:hover{ box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}

	&__header {
		padding: 8px;
		display: flex;
	}
	&__title {
		font-size: 24px;
		font-weight: 400;
		font-weight: 500;
		letter-spacing: .005em;
		line-height: 32px;
	}
	&__row {
		padding: 24px 16px 16px;
		display: flex;
		flex: 1 1 auto;
		flex-direction: row;
	}
	&__img {
		width: 40%;
		height: 130px;
		display: inline-block;
	}
 
	&__details {
		width: 40%;
		display: inline-block;
		margin-left: 35px;
	}
}
 
